# Network Log Analysis using Wireshark Data

This notebook analyzes TCP/HTTP logs from Wireshark to identify traffic patterns, HTTP errors, and possible anomalies.

**Objective:**  
- Understand network activity based on TCP and HTTP logs.  
- Identify any abnormal response codes or irregular traffic behavior.  
- Demonstrate cybersecurity analysis workflow using Python and pandas.

In [13]:
# Import Library that will we use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
# Read logs data
data_path = '../data/Wireshark TCP_HTTP log.xlsx'
df = pd.read_excel(data_path)
df.head()

,No.,Time,Source,Destination,Protocol,Info
0,47,3.144521,198.51.100.23,192.0.2.1,TCP,42584->443 [SYN] Seq=0 Win-5792 Len=120...
1,48,3.195755,192.0.2.1,198.51.100.23,TCP,"443->42584 [SYN, ACK] Seq=0 Win-5792 Len=120..."
2,49,3.246989,198.51.100.23,192.0.2.1,TCP,42584->443 [ACK] Seq=1 Win-5792 Len=120...
3,50,3.298223,198.51.100.23,192.0.2.1,HTTP,GET /sales.html HTTP/1.1
4,51,3.349457,192.0.2.1,198.51.100.23,HTTP,HTTP/1.1 200 OK (text/html)

In [15]:
#perform EDA
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No.           174 non-null    int64
 1   Time          174 non-null    float64
 2   Source        174 non-null    object
 3   Destination   174 non-null    object
 4   Protocol      174 non-null    object
 5   Info          174 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.3+ KB

In [16]:
df.describe()

              No.        Time
count  174.000000  174.000000
mean   133.379310   24.950776
std     50.173858   15.043665
min     47.000000    3.144521
25%     90.250000   13.925798
50%    133.500000   23.882393
75%    176.750000   37.852706
max    214.000000   51.823018